
    <%= form_with(model: @project, local: true) do |f|%>
        <div class="form-group">
            <%= f.label "Nombre" %><br>
            <%= f.text_field :name %>
        </div>

        <div>
            <%= f.label "Descripción"%><br>
            <%= f.text_area :description %>
        </div>
        
        <div>
            <%= f.label "Comienza"%><br>
            <%= f.date_field :begin %>
        </div>

        <div>
            <%= f.label "Finaliza"%><br>
            <%= f.date_field :end %>
        </div>

        <div>
            <%= f.label "Estado"%><br>
            <%= f.select :state, Project.states.keys %>
        </div>
        
        <div>
            <%= f.submit "Guardar" %>
        </div>
<% end %>
</form>